{% extends "@App/base.html.twig" %}

{% block title "Changement de mot de passe" %}

{% block content %}
    <div class="container">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="Modifier" class="btn btn-default">
        </div>
        {{ form_end(form) }}
    </div>



{% endblock %}