{% extends "@App/base.html.twig" %}

{% block title %}Édition - {{ post.name }} {% endblock %}

{% block content %}
    <div class="container">
        {{ form(post_form) }}
    </div>
{% endblock %}